<app-toast />
<div class="h-screen w-screen pb-5 bg-(--backgroud-color)">
    <div class="flex flex-row flex-wrap mb-2">
        <!------------- NAVBAR ------------->
        <app-navbar class="w-full"/>
        <!------------- /NAVBAR ------------->

        <div class="w-full flex flex-row flex-wrap">
            <!------------- LEFT SIDEBAR ------------->
            <div class="basis-1/12 -order-1"></div>
            <!------------- /LEFT SIDEBAR ------------->

            <!------------- RIGHT SIDEBAR ------------->
            <div class="basis-1/12 order-1"></div>
            <!------------- /RIGHT SIDEBAR ------------->

            <!------------- MAIN CONTENT ------------->
            <div class="basis-10/12 order-0">
                <router-outlet></router-outlet>
            </div>
            <!------------- /MAIN CONTENT ------------->
        </div>
    </div>
</div>
