<div class="flex flex-row flex-wrap gap-y-4">
    <div class="basis-1/3 flex justify-center">
        <app-task-button
            size="15"
            color="orange"
            (onClick)="goToTaks('expenses')"
        >
            <app-icon icon />
        </app-task-button>
    </div>
    <div class="basis-1/3 flex justify-center">
        <app-task-button
            size="15"
            color="violet"
            (onClick)="goToTaks('expenses')"
        >
            <app-icon icon image="insert" />
        </app-task-button>
    </div>
    <div class="basis-1/3 flex justify-center">
        <app-task-button
            size="15"
            color="emerald"
            (onClick)="goToTaks('expenses')"
        >
            <app-icon icon />
        </app-task-button>
    </div>
    <div class="basis-1/3 flex justify-center">
        <app-task-button size="15" color="sky" (onClick)="goToTaks('expenses')">
            <app-icon icon />
        </app-task-button>
    </div>
    <div class="basis-1/3 flex justify-center">
        <app-task-button
            size="15"
            color="rose"
            (onClick)="goToTaks('expenses')"
        >
            <app-icon icon />
        </app-task-button>
    </div>
</div>
