<div class="grid grid-rows-4 grid-cols-3 gap-4">
    <div class="row-start-1 col-span-full text-center bg-indigo-700">HOME</div>
    <div class="row-start-2 col-star-1 bg-indigo-900">
        <app-task-button
            size="10"
            color="orange"
            (onClick)="goToTaks('expenses')"
        >
            <svg
                icon
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M14.25 7.756a4.5 4.5 0 1 0 0 8.488M7.5 10.5h5.25m-5.25 3h5.25M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
            </svg>
        </app-task-button>
    </div>
    <!--<div class="row-start-2 col-start-2 bg-indigo-900">
        <app-task-button
            size="10"
            color="orange"
            (onClick)="goToTaks('expenses')"
        >
            <svg
                icon
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M14.25 7.756a4.5 4.5 0 1 0 0 8.488M7.5 10.5h5.25m-5.25 3h5.25M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
            </svg>
        </app-task-button>
    </div>
    <div class="row-start-3 col-start-2 bg-indigo-900">
        <app-task-button
            size="10"
            color="orange"
            (onClick)="goToTaks('expenses')"
        >
            <svg
                icon
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M14.25 7.756a4.5 4.5 0 1 0 0 8.488M7.5 10.5h5.25m-5.25 3h5.25M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
            </svg>
        </app-task-button>
    </div>-->
</div>
