<form
  [formGroup]="settingsForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-col gap-6 p-4 max-w-md mx-auto"
>
  <fieldset class="bg-zinc-600/60 rounded-lg px-3 py-4">

    <div class="flex flex-col gap-3">
      <legend class="text-lg font-semibold flex-1">API</legend>

      <div class="flex flex-col gap-1 mb-4">
        <label for="apiUrl" class="block text-sm/6 text-(--text-color) font-medium">
          URL
        </label>
        <input
          id="apiUrl"
          formControlName="apiUrl"
          class="block w-full rounded-lg bg-white/5 px-3 py-1.5 text-base outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-violet-500"
        />
      </div>
    </div>

    <div class="flex flex-col gap-1 mb-1">
      <label for="apiTimeout" class="block text-sm/6 text-(--text-color) font-medium"
        >Timeout (ms)</label
      >
      <input
        id="apiTimeout"
        type="number"
        formControlName="apiTimeout"
        class="block w-full rounded-lg bg-white/5 px-3 py-1.5 text-base outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-violet-500"
      />
    </div>
  </fieldset>

  <fieldset class="bg-zinc-600/60 rounded-lg px-3 py-4">
    <legend class="text-lg font-semibold mb-3">Date Requests</legend>
    <div class="flex flex-col gap-1 mb-1">
      <label
        for="defaultDurationMinutes"
        class="block text-sm/6 text-(--text-color) font-medium"
        >Default duration (minutes)</label
      >
      <input
        id="defaultDurationMinutes"
        type="number"
        formControlName="defaultDurationMinutes"
        class="block w-full rounded-lg bg-white/5 px-3 py-1.5 text-base outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-violet-500"
      />
    </div>
  </fieldset>

  <button
    type="submit"
    [disabled]="settingsForm.invalid"
    class="bg-(--settings-color) text-(--settings-secondary-color) p-3 rounded font-medium mt-4 disabled:opacity-50"
  >
    Save
  </button>
</form>
