<div class="flex flex-row relative">
    <!-- <div class="slider text-red-500 absolute left-[-2rem] top-0">
        SL
    </div> -->
    <div class="basis-1/4 flex justify-center">
        <button
            [ngClass]="{'bg-green-500': groceryItem().to_buy, 'bg-red-500': !groceryItem().to_buy}"
            (click)="onBuyClick()"
        >
            {{(groceryItem().to_buy ? 'A' : 'B')}}
        </button>
    </div>
    <label
        [for]="groceryItem().name + '-checkbox'"
        class="basis-3/4"
        [ngClass]="{'text-(--text-color)': groceryItem().to_buy, 'text-(--text-secondary-color)': !groceryItem().to_buy}"
    >
        {{ groceryItem().name }}
    </label>
</div>
