<ion-content>
  <form [formGroup]="newExpenseForm" (ngSubmit)="onSubmit()">
    <!-- Category Select -->
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select
        formControlName="category"
        interface="popover"
        placeholder="Select one"
      >
        @for (category of expenseCategoryList(); track $index) {
        <ion-select-option value="{{category}}">{{category}}</ion-select-option>
        }
      </ion-select>
    </ion-item>

    <!-- Description -->
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input formControlName="description" type="text"></ion-input>
    </ion-item>

    <!-- Euro Value -->
    <ion-item>
      <ion-label position="floating">€</ion-label>
      <ion-input
        formControlName="value"
        type="number"
        inputmode="decimal"
        min="0.01"
        step="0.01"
      ></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="newExpenseForm.invalid">
      Save
    </ion-button>
  </form>
</ion-content>
